* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.banner {
  width: 100%;
  color: white;
}

.banner-image {
  display: block;
  position: absolute;
  width: 100%;
  top: 0%;
  color: white;
}

.banner-header {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  padding: 10px; /* Adjust as needed */
}

.rounded-button {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.1px solid #ffff;
  background-color: transparent;
  color: white;
  text-align: center;
  border-width: 1px;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 10px;
}
